.card {
    margin: 10px 10px;
    color: white;
    height: 500px;
    width: 330px;
}

.card-image {
    height: 140px;
    width: 140px;
}

.card-name {
    text-transform: capitalize;
    font-family: 'Patua One', cursive;
    font-size: 40px;
}

.type-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    height: 80px;
    border: 3px solid white;
    padding-top: 45px;
}

.card-exp {
    font-family: 'Patua One', cursive;
    font-size: 27px;
}