.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#FDFDFD, #C692F0);
  font-family: 'Roboto', sans-serif;
}

button:focus {
  outline: 0;
}
