.App {
  margin: auto;
  text-align: center;
  padding: 10px 5px;
  min-height: 1100px;
  background: linear-gradient(#2C6A9A, black);
}

.card-row {
  margin: auto;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Patua One', cursive;
  font-size: 75px;
  color: white;
  text-shadow: 5px 3px black;
}

hr {
  width: 35%;
  border-top: 11px solid black;
  margin-bottom: 100px;
}

.card-types {
    margin: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}