* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: linear-gradient(#fc6c48 0%, #ef5081 100%);
  background-repeat: no-repeat;
  font-size: 15px;
  font-weight: 800;
  height: 100%;
  color: #444;
  padding: 50px 20px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  background-color: #fefefe;
  background-image: linear-gradient(#fc6c48 0%, #ef5081 100%);
}

h1 {
  font-family: 'Calistoga', cursive;
  word-spacing: 20px;
  font-size: 85px;
  color: white;
  text-shadow: black, 6px;
}